---
modules:
  espkey:
    url: "http://espkey.local/"
    log: "log.txt"
  proxmark3:
    client_timeout: 60
    client_retry: True
    target: "iclass"
  screen_ws13:
    pisugar2: True
  lovense:
        